{% include 'header.html' %}
<h3 class="text-center">Lista de Clientes</h3>
<div class="text-center">
    <a href="/clientes/create" class="btn btn-primary">Nuevo</a>
</div>
<div class="table-responsive"> <br>
    <table class="table">
        <thead class="table-dark"> 
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Telefono</th>
                <th scope="col">Fecha</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr class="table-primary">
                <td scope="row">{{ cliente ['id'] }}</td>
                <td>{{ cliente ['nombre'] }}</td>
                <td>{{ cliente ['telefono'] }}</td>
                <td>{{ cliente ['fecha'] }}</td>
                <td>
                    <a href="clientes/edit/{{ cliente ['id'] }}" class="btn btn-success">Editar</a>
                    <a href="clientes/borrar/{{ cliente ['id'] }}" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% include 'footer.html' %}